link(rel='Stylesheet', href='semantic/semantic.css')
script(href='semantic/semantic.js')
.ui.inverted.segment
	.ui.three.column.grid
		.ui.six.wide.column
			.ui.four.item.medium.menu.inverted 
				a.item Symbiotic Cart 
				a.item orders
				a.item Add Product 
				a.item Integration
		.ui.seven.wide.column
		.ui.three.wide.column
			.ui.menu.right.floated.inverted
				.ui.simple.dropdown.item ravi@xavoc.com
					.ui.dropdown.icon
					.ui.menu
						a.item Myweb@xavoc.com
						a.item xyz@xavoc.com
						a.item abc@xavoc.com
.ui.segment
	.ui.two.column.grid
		.ui.three.wide.column
			.ui.vertical.inverted.teal.menu
				a.active.item
					i.server.icon 
					|Dashboard
				a.item
					i.cube.icon
					|Products
				a.item
					i.pencil.icon
					|Coupons	
				a.item
					i.travel.icon
					|Orders
				a.item
					i.shipping.icon
					|Shipping
				a.item
					i.user.icon
					|Customers
				a.item
					i.setting.icon
					|Settings
				a.item
					i.linkify.icon
					|integration		
				h1
				h1
				h1
				h1
		.ui.twelve.wide.column
			h1 Settings
			h3
				.ui.dividing.teal.header
				.ui.tabular.menu
					a.active.item
						|Website Settings
					a.item
						|Payments
					a.item
						|Social login
					a.item
						|reCaptcha
					a.item
						|Shipping
					a.item
						|Security
			h2 Website Setting

			.ui.three.column.grid
				.ui.two.wide.column
				.ui.seven.wide.column
					.ui.field
						.ui.two.fields
							.ui.field 
							h4 Website Url
							.field.ui.input
								input(placeholder='www.xavoc.com', type='text')
					.ui.field
						.ui.two.fields
							.ui.field 
								h4 Your Email
							.field.ui.input
								input(placeholder='www.xavoc.com', type='text')
					.ui.field
						.ui.two.fields
							.ui.field 
								h4 Invoice Email
							.field.ui.input
								input(placeholder='www.invoice/xavoc.com', type='text')
					.ui.fields
						.ui.two.fields
							.ui.field 
								h4 Product Images
							.field.ui.input
								input(placeholder='product/www.xavoc.com', type='file')
					
					.ui.field			
						.two.fields
							.ui.field
								h4 Mode
							.ui.field
								select.ui.grey.header.tiny.dropdown
									option(value='1') Live
									option(value='0') Offline.ui.field
					.ui.field
						.ui.medium.primary.button Update				
			.ui.dividing.teal.header				