
link(rel='Stylesheet', href='semantic/semantic.css')
script(href='semantic/semantic.js')

.ui.inverted.segment
	div.ui.three.column.grid
			div.ui.four.wide.column
				.ui.four.item.medium.menu.inverted 
					a.item Home 
					a.item Work
					a.item Company 
					a.item Career
			div.ui.nine.wide.column
			div.ui.three.wide.column
				button.ui.inverted.grey.button Login
				button.ui.inverted.grey.button signup
	.ui.text.container
		h1
		h1
		h1
		h1
		h1
		h1
		h1
			center
				h1.ui.huge Imagine-a-Company
				h2 Do whatever you want when you want to.
				button.ui.huge.linkedin.button Get Started ->
		h1
		h1
		h1
		h1
		h1
		h1
ui.text.container		
	.ui.three.column.grid
		.ui.two.wide.column
		.ui.seven.wide.column
			h1
			h1
			h1 We Help Companies And Companion
			span We can give your company superpowers to do things that they never thought possible. Let us delight your customers and 
			empower your needs...through pure data analytics
			br
			br
			br
			br
			br
			h1 We Make Bananas That Can Dance
			span Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.			
		.ui.six.wide.column
			img.ui.large.rounded.image(src='apple.png')
	.ui.one.column.grid
		ui.sixteen.wide.column
			h1
			center 
				button.huge.ui.button Check them out
			h1
.ui.text.container		
	.ui.two.column.grid
		.ui.eight.wide.column
			h1
			h1
			center
				h1 "What a Company"
				h3 That is what they all say about us
		.ui.vertical.divider
		.ui.eight.wide.column
			h1
			h1
			center
				h1 ""I shouldn't have gone with their competitor."
				h3 Nan Chief Fun Officer Acme Toys
.ui.text.container
	.ui.one.column.grid
			.ui.sixteen.wide.column
				h1
				h1
				center 
					h1 Breaking The Grid, Grabs Your Attention 
					span Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
				button.medium.ui.button Read More
				h1
				.ui.horizontal.divider
					span.ui.blue.header CASE STUDIES
					h1
				center 
					h1 Did We Tell You About Our Bananas? 
					span Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
				button.medium.ui.button I'm Still quite Intersed
				h1